{:hostname                "http://localhost/"
 :mail-from               "info@localhost.de"
 :mail-type               :sendmail
 :activation-mail-subject "Please activate your account."
 :activation-mail-body    "Please click on this link to activate your account: {{activationlink}}
Best Regards,

Your Team"
 :activation-placeholder  "{{activationlink}}"
 :smtp-data               {}                                ; passed directly to postmap like {:host "postfix"}
 :jdbc-url                "jdbc:h2:./db/korma.db"
 :env                     :dev
 ; set this to true to enable self registration
 :registration-allowed?   false }