{:hostname                "http://localhost/"
 :mail-from               "info@localhost.de"
 :mail-type               :sendmail
 :smtp-data               {}                                ; passed directly to postmap like {:host "postfix"}
 :jdbc-url                "jdbc:sqlite:./db/{{name}}.sqlite"
 :env                     :dev                              ; set this to :prod for production mode
 ; set this to true to enable self registration
 :registration-allowed?   false
 :captcha-enabled?        false
 :captcha-public-key      "your public captcha key"
 :private-recaptcha-key   "your private captcha key"
 :recaptcha-domain        "yourdomain"
 :port                    3000
 :closp-definitions       "env/dev/entities"}