{:hostname                "http://localhost/"
 :jdbc-url                "jdbc:postgresql://localhost:5432/{{name}}?user={{name}}&password={{name}}"
 :jdbc-driver-class       "org.postgresql.Driver"
 :env                     :dev                              ; set this to :prod for production mode
 ; set this to true to enable self registration
 :registration-allowed?   false
 :captcha-enabled?        false
 :captcha-public-key      "your public captcha key"
 :private-recaptcha-key   "your private captcha key"
 :recaptcha-domain        "yourdomain"
 :port                    3000}