{:migrators {:sqlite-mig "resources/migrators/sqlite"
             :h2-mig "resources/migrators/h2"}
 :databases {:sqlite-dev {:type :sql, :url "jdbc:sqlite:./db/{{name}}.sqlite"}
             :sqlite-test {:type :sql, :url "jdbc:sqlite:./db/{{name}}-test.sqlite"}
             :sqlite-integtest {:type :sql, :url "jdbc:sqlite:./db/{{name}}-integtest.sqlite"}
             :h2-dev {:type :sql, :url "jdbc:h2:./db/korma.db;DATABASE_TO_UPPER=FALSE"}}
 :environments {:sqlite-dev-env [{:db :sqlite-dev, :migrator :sqlite-mig}]
                :sqlite-test-env [{:db :sqlite-test, :migrator :sqlite-mig}]
                :sqlite-integtest-env [{:db :sqlite-integtest, :migrator :sqlite-mig}]
                :h2-dev-env [{:db :h2-dev, :migrator :h2-mig :seed :jdbc}]}}