html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-top: 80px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


#loading-screen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.4);
}

#loading-screen p {
    position: fixed;
    left: 49%;
    top: 50%;
}

#content {
    margin-left: 30px;
    margin-right: 15px;
}

.marg-right-15 {
    margin-right: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.five-bot {
    margin-bottom: 5px;
}

.twenty-bot {
    margin-bottom: 20px;
}

.ten-top-bot {
    margin-top: 10px;
    margin-bottom: 10px;
}

.thirty-top-bot {
    margin-top: 30px;
    margin-bottom: 30px;
}

.red-border {
    border-color: red;
}
