{:generic
          {:some_error        "Ein Fehler ist aufgetreten."
           :deletion_canceled "Löschen abgebrochen."
           :email             "E-Mail"
           :password          "Passwort"
           :password_confirm  "Passwort wiederholen"
           :logout            "Ausloggen"
           :diet              "Ernährung"
           :save              "Speichern"
           :search            "Suchen"
           :add               "Hinzufügen"
           :cancel            "Abbrechen"
           :name              "Name"
           :create            "%1 Anlegen"
           :edit              "%1 Bearbeiten"
           :delete            "Löschen"
           :saved             "Änderungen gespeichert"}

 :crudify {:created "%1 erstellt"
           :deleted "%1 gelöscht"
           :not-empty "Feld: \"%1\" darf nicht leer sein."
           :not-null "Feld: \"%1\" darf nicht nil sein."
           :not-string "Feld: \"%1\" sollte eine Zeichenkette sein."
           :not-number "Feld: \"%1\" sollte eine Zahl sein."
           :not-integer "Feld: \"%1\" sollte Ganzzahlig sein."
           :not-date "Feld: \"%1\" sollte ein Datum sein."
           :max-length "Feld: \"%1\" ist zu groß."}
 :user
          {:email_invalid        "Bitte geben Sie eine gültige E-Mail Adresse an."
           :pass_min_length      "Das Passwort muss mindestens 5 Zeichen enthalten."
           :pass_match           "Die eingegebenen Passwörter stimmen nicht überein."
           :pass_correct         "Bitte geben Sie das richtige Passwort ein."
           :pass_changed         "Passwort geändert."
           :change_password      "Passwort ändern"
           :wrong_cur_pass       "Das derzeitige Passwort ist falsch."
           :username_exists      "Der Benutzername existiert bereits. Bitte geben Sie einen anderen an."
           :username_wrong       "Bitte geben Sie einen gültigen Benutzernamen ein."
           :deleted              "Benutzer erfolgreich gelöscht."
           :updated              "Benuter %1 erfolgreich geändert."
           :user_added           "Benutzer hinzugefügt."
           :captcha_wrong        "Bitte geben Sie das Captcha richtig ein."
           :email_failed         "Etwas schlug fehl beim verschicken der Mail. Bitte wenden Sie sich an den Support."
           :signup               "Anmelden"
           :signin               "Einloggen"
           :username             "Benutzername"
           :role                 "Rolle"
           :current_password     "Aktuelles Passwort"
           :new_password         "Neues Passwort"
           :new_password_confirm "Neues Passwort bestätigen"
           :really_delete        "Möchten Sie %1 wirklich löschen?"
           :register             "Registrieren"}

 :admin
          {:title    "Benutzer Übersicht"
           :add_user "Benutzer hinzufügen"
           :new_user "Neuer Benutzer"
           :filter   "Benutzer Filtern"
           :active   "Aktiv"
           :update   "Änderungen speichern"}
 :contact {:contact            "Kontakt"
           :content_belongs_to "Der Inhalt gehört zu"}}