{:generic
          {:some_error        "Some error occured."
           :deletion_canceled "Deletion canceled."
           :email             "Email"
           :password          "Password"
           :password_confirm  "Confirm Password"
           :logout            "Logout"
           :save              "Save"
           :search            "Search"
           :add               "Add"
           :cancel            "Cancel"
           :name              "Name"
           :create            "Create %1"
           :edit              "Edit %1"
           :delete            "Delete"
           :saved             "Changes Saved"}

 :crudify {:created "Created %1"
           :deleted "Deleted %1"
           :not-empty "Field: \"%1\" can not be empty."
           :not-null "Field: \"%1\" can not be nil."
           :not-string "Field: \"%1\" should be a string."
           :not-number "Field: \"%1\" should be a number."
           :not-integer "Field: \"%1\" should be an integer."
           :not-date "Field: \"%1\" should be a date."
           :max-length "Field: \"%1 is to long."}
 :user
          {:email_invalid        "A valid email is required."
           :pass_min_length      "Password must be at least 5 characters."
           :pass_match           "Entered passwords do not match."
           :pass_correct         "Please provide a correct password."
           :pass_changed         "Password changed."
           :change_password      "Change Password"
           :wrong_cur_pass       "Current password was incorrect."
           :username_exists      "This username already exists. Choose another."
           :username_wrong       "Please provide a correct username."
           :deleted              "User deleted successfully."
           :updated              "User %1 updated successfully."
           :user_added           "User added."
           :captcha_wrong        "Please provide the correct captcha input."
           :email_failed         "Something went wrong sending the email, please contact us."
           :signup               "Sign Up"
           :signin               "Sign In"
           :username             "Username"
           :role                 "Role"
           :current_password     "Current Password"
           :new_password         "New Password"
           :new_password_confirm "Confirm New Password"
           :really_delete        "Do you really want to delete: %1?"
           :register             "Register"}

 :admin
          {:title    "User Overview"
           :add_user "Add User"
           :new_user "New User"
           :active   "Active"
           :filter   "Filter Users"
           :update   "Update"}
 :contact {:contact            "Contact"
           :content_belongs_to "Content belongs to"}}

