<div field="menu">
    {% if user-id %}

    <div id="logout" class="navbar-right">

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/changepassword" id="username-link"></a></li>
            <li><a href="/user/logout">Logout</a></li>
        </ul>
    </div>

    {% else %}

    <ul class="nav navbar-nav" id="header-menu-wrapper">
        <li field="link-list"><a href="/menuone">Menu 1</a></li>
    </ul>
    <div class="navbar-collapse collapse">

        <form class="navbar-form navbar-right" role="form" action="/user/login" method="POST">


            <div class="form-group">
                <input type="text" placeholder="Email" name="username" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
            <a href="/user/signup" class="btn btn-success">Sign Up</a>
        </form>
    </div>
    {% endif %}
</div>