{:deps         {:aliases [:cljs]}
 :builds
               {:main {:target     :browser
                       :output-dir "resources/public/js/main"
                       :asset-path "/js/main"
                       :modules    {:main {:entries [{{namespace}}.core]}}

                       :devtools   {:after-load {{namespace}}.core/mount-root}}}}
