{% extends "templates/base.html" %}
{% block content %}

<div id="changepassword" class="container-fluid block-center">
    <div class="row">

        <div class="col-md-3"></div>

        <div class="form-group col-md-6">
            <form action="/user/changepassword" method="POST" role="form">
                <input name="__anti-forgery-token" type="hidden" value="{{af-token}}"/>
                <h3>{% localize user/change_password %}</h3>

                <div class="form-group">
                    <label for="oldpassword">{% localize user/current_password %}</label>
                    {% if old-error %}
                    <div id="old-pass-error" class="alert alert-danger">{{old-error}}</div>
                    {% endif %}
                    <p>
                        <input class="form-control" id="oldpassword" name="oldpassword" tabindex="2" type="password"
                               autocomplete="off"/>
                    </p>
                </div>

                <div class="form-group">
                    <label for="password">{% localize user/new_password %}</label>
                    {% if pass-error %}
                    <div id="pass-error" class="alert alert-danger">{{pass-error}}</div>
                    {% endif %}
                    <p>
                        <input class="form-control" id="password" name="password" tabindex="2" type="password"
                               autocomplete="off"/>
                    </p>
                </div>

                <div class="form-group">
                    <label for="confirm">{% localize user/new_password_confirm %}</label>
                    {% if confirm-error %}
                    <div id="confirm-error" class="alert alert-danger">{{confirm-error}}</div>
                    {% endif %}
                    <p>
                        <input class="form-control" id="confirm" name="confirm" tabindex="3" type="password"
                               autocomplete="off"/>
                    </p>
                </div>

                <div class="form-group">
                    <input class="btn btn-primary" tabindex="4" type="submit" value="{% localize user/change_password %}">
                </div>
            </form>
        </div>

        <div class="col-md-3"></div>


    </div>
</div>

{% endblock %}